div {
text-align: center;
color: blue;
}

ul  {
  margin-left: auto;
  margin-right: auto;
}

#Conjugation {
  color: red;
  text-align: center;
}

tr {
  text-align: right;
}

table {
  margin: auto;
  
}

h1  {
  text-align: center;
  margin: auto;
  padding: 25px;
}
